.page[b-604m1bcvrt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-604m1bcvrt] {
    flex: 1;
}

.sidebar[b-604m1bcvrt] {
    background-image: linear-gradient(180deg, rgb(144, 100, 199) 0%, #8b2d77 70%);
}

.top-row[b-604m1bcvrt] {
   background-color: #d8a5ed;
    border-bottom: 1px solid #4e4e97;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-604m1bcvrt]  a, .top-row .btn-link[b-604m1bcvrt] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-604m1bcvrt] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-604m1bcvrt] {
        display: none;
    }

    .top-row.auth[b-604m1bcvrt] {
        justify-content: space-between;
    }

    .top-row a[b-604m1bcvrt], .top-row .btn-link[b-604m1bcvrt] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-604m1bcvrt] {
        flex-direction: row;
    }

    .sidebar[b-604m1bcvrt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-604m1bcvrt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-604m1bcvrt], article[b-604m1bcvrt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
