@page "/evento"
@inject HttpClient httpClient
@using System.Net.Http.Json
@inject NavigationManager NavigationManager


 

<h3> Lista de Eventos</h3>

 

@if (eventos == null)
{
<p>Cargando eventos...</p>
}
else if (eventos.Count == 0)
{
<p>No hay eventos disponibles.</p>
}
else
{
    <table class="table">
        <thead >
            <tr>

                <th>Nombre Evento</th>
                <th>Tipo Evento</th> 
                <th>Fecha</th>              
                <th>Ubicacion</th>
                
            </tr>
        </thead>
        <tbody>
                 @foreach (var evento in eventos)
                 {
                    <tr>

                        <td>@evento.nombreEvento</td>
                        <td>@evento.descripcion</td>
                        <td>@evento.ubicacion</td>
                        <td>@evento.fecha</td>
                        
                        <td>
                        
                            <button type="button" class="btn btn-outline-info" @onclick="() => VerBoletosReservados(evento.eventoId)">Ver</button>
                            
                         </td>
                    </tr>
    }      
        </tbody>    
    </table>

}

@code {
    List<EventoDto> eventos;
    

    protected override async Task OnInitializedAsync()
    {
        eventos = await httpClient.GetFromJsonAsync<List<EventoDto>>("/eventos/list/evento");
    }

    private void VerBoletosReservados(long eventoId)
    {
        // Navegar a la página de visualización de boletos reservados para el evento con el ID proporcionado
        NavigationManager.NavigateTo($"/boletos/{eventoId}");
    }

   

   
}