@page "/"

<PageTitle>Index</PageTitle>
<html>
<head>

<title> Boleto App</title>
</head>

<body>
    
<div class="row">
    <div class="col-18">
        <div style="background"-color:blue;>
        <img src="/img/Ticket-logo.png" class="img-fluid">
    </div>
    </div>
</div> 
 
</body>
</html>
