<div class="top-row ps-2 navbar navbar-black">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: black" href="">BoletosAppWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        <div class="nav-item px-3">
            <NavLink class="nav-link"style="color: black" href="/boletos/{eventoId}">
                <span class=" " aria-hidden="true"></span> Boleto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"style="color: black" href="/evento">
                <span class=" " aria-hidden="true"></span> Evento
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
